<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Randall Brown</string>
	<key>Builder Version</key>
	<string>7534.48.3</string>
	<key>CFBundleDisplayName</key>
	<string>Newschoolers Enhancement Suite</string>
	<key>CFBundleIdentifier</key>
	<string>com.FARP.newschoolers</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>newschoolers.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>loadScript.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-1.7.1.min.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Adds some nice features to Newschoolers.com</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.newschoolers.com/ns/forums/forumthreads/cat_id</string>
				<string>*.newschoolers.com/ns/forums/readthread/thread_id</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
</dict>
</plist>
